<%- include ('../partials/header.ejs') %> <%- include ('../partials/main_nav.ejs') %>

<!-- Content  for the add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>

      <form class="form" method="post">
        <div class="from-group">
            <label for="nameTextField">Survey Name</label>
            <input
              type="text"
              class="form-control"
              id="c_name"
              placeholder="Enter the Contact Name:"
              name="c_name"
              value="<%= editsurvey.survey_name %>"
              required
            />
        </div>

        <div class="from-group">
          <label for="authorTextField">Survey Subject</label>
          <input
            type="text"
            class="form-control"
            id="survey_subject"
            placeholder="Enter the Subject:"
            name="survey_subject"
            value="<%= editsurvey.survey_subject %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="authorTextField">Survey question 1</label>
          <input
            type="text"
            class="form-control"
            id="survey_q1"
            placeholder="are you a student:"
            name="survey_q1"
            value="<%= editsurvey.q1 %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="authorTextField">Survey question 2</label>
          <input
            type="text"
            class="form-control"
            id="survey_q2"
            placeholder="Do you take the subject?"
            name="survey_q2"
            value="<%= editsurvey.q2 %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="authorTextField">Survey question 3</label>
          <input
            type="text"
            class="form-control"
            id="survey_q3"
            placeholder="Are you ready for the test?"
            name="survey_q3"
            value="<%= editsurvey.q3 %>"
            required
          />
        </div>


        <button class="btn btn-primary" type="submit">
          <i class="fas fa-check-square-o"></i>Submit
        </button>

        <a href="/survey" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/bottom_nav.ejs') %> <%- include ('../partials/footer.ejs') %>
